div.callout-blue {
	color: white;
	background-color: #62C9E2;
	display: inline-block;
	font-family: "futura-pt", sans-serif;
	font-size: 218%;
}
.callout-cyan {
	color: white;
	background-color: #4CB5AC;
	display: inline-block;
	font-family: "futura-pt", sans-serif;
	font-size: 218%;
}
.callout-dark-green {
	color: white;
	background-color: #003F2D;
	display: inline-block;
	font-family: "futura-pt", sans-serif;
	font-size: 218%;
}
.callout-grass-green {
	color: white;
	background-color: #B4CC95;
	display: inline-block;
	font-family: "futura-pt", sans-serif;
	font-size: 218%;
}
.callout-viewbook-green {
	color: white;
	background-color: #5C8627;
	display: inline-block;
	font-family: "futura-pt", sans-serif;
	font-size: 218%;
}
.callout-orange {
	color: white;
	background-color: #EB881D;
	display: inline-block;
	font-family: "futura-pt", sans-serif;
	font-size: 218%;
}
.callout-yellow-orange {
	color: white;
	background-color: #EDB111;
	display: inline-block;
	font-family: "futura-pt", sans-serif;
	font-size: 218%;
}
.callout-yellow {
	color: white;
	background-color: #FFDD00;
	display: inline-block;
	font-family: "futura-pt", sans-serif;
	font-size: 218%;
}
.callout-grass-yellow {
	color: white;
	background-color: #D9D954;
	display: inline-block;
	font-family: "futura-pt", sans-serif;
	font-size: 218%;
}
.callout-winch-green {
	color: white;
	background-color: #006633;
	display: inline-block;
	font-family: "futura-pt", sans-serif;
	font-size: 218%;
}