/* Metabox */
.winch-game-date-meta {
}

.winch-game-date-meta ul li.game-date {
	height: 20px;
	clear: both;
	margin: 0 0 15px 0;
	label {
		width: 100px;
		display: block;
		float: left;
		padding-top: 4px;
	}
	input {
		width: 125px;
		display: block;
		float: left;
	}
	em {
		width: 200px;
		display: block;
		float: left;
		color: gray;
		margin-bottom: 10px;
		padding-top: 4px;
	}
}
